.ready-to-learn {
   padding: 80px 0;
}

.ready-to-learn__head {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: space-between;
   gap: 10px;
}

.ready-to-learn__head:not(:last-child) {
   margin-bottom: 60px;
}

.ready-to-learn__subtitle {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1e212c;
}

.ready-to-learn__subtitle:not(:last-child) {
   margin-bottom: 8px;
}

.ready-to-learn__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1e212c;
}

.ready-to-learn__button {
   font-weight: 700;
   font-size: 16px;
   line-height: 52px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   letter-spacing: 0.5px;
   min-height: 52px;
   cursor: pointer;
   padding: 0 40px;
}

.ready-to-learn__cards {
   display: flex;
   flex-wrap: wrap;
   gap: 30px 10px;
   justify-content: space-between;
   height: 100%;
}

.card-block__item {
   display: flex;
   flex: 0 0 600px;
   background: #ffffff;
   border: 1px solid #e5e8ed;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}

.item-card__img {
   flex: 0 0 214px;
}

.item-card__img img {
   width: 100%;
   height: 100%;
}

.item-card__about {
   flex-grow: 1;
   padding: 32px;
}

.item-card__type {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #ffffff;
   background: #03cea4;
   border-radius: 4px;
   display: inline-block;
   padding: 1px 8px;
}

.blue-type {
   background: #5A87FC;
}

.orange-type {
   background: #F89828;
}

.pink-type {
   background: #F52F6E;
}

.item-card__type:not(:last-child) {
   margin-bottom: 20px;
}

.item-card__text {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1e212c;
}

.item-card__text:not(:last-child) {
   margin-bottom: 20px;
}

.item-card__price-and-name:not(:last-child) {
   margin-bottom: 20px;
}

.item-card__cost {
   font-weight: 700;
   font-size: 18px;
   line-height: 150%;
   color: #ff4242;
}

.item-card__people {
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: #787a80;
}

@media (max-width: 1240px) {
   .card-block__item {
      flex: 0 0 510px;
   }

   .ready-to-learn__cards {
      justify-content: center;
   }
}

@media (max-width: 1070px) {
   .card-block__item {
      flex: 1 1 480px;
   }
}

@media (max-width: 998px) {
   .card-block__item {
      flex: 0 0 600px;

   }
}

@media (max-width: 650px) {
   .card-block__item {
      flex: 0 1 214px;
      flex-direction: column;
   }

   .item-card__text {
      font-size: 16px;
   }

   .item-card__people {
      font-size: 15px;
   }
}


@media (max-width: 550px) {
   .card-block__item {
      flex-direction: column;
      flex: 0 1 200px;
   }
}

@media (max-width: 439px) {
   .card-block__item {
      flex-direction: column;
      flex: 0 1 214px;
   }
}

@media (max-width: 420px) {
   .ready-to-learn__title {
      font-size: 35px;
   }

   .ready-to-learn {
      padding: 50px 0;
   }

}