/* =================================================== */
.why-createx {
   padding: 180px 0px;
}

.why-createx__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   column-gap: 40px;
}

.why-createx__img {
   width: 100%;
   flex: 0 1 705px;
}

.why-createx__content {
   flex: 0 1 390px;
}

.content-block-createx__subtitle {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1e212c;
}

.content-block-createx__subtitl:not(:last-child) {
   margin-bottom: 8px;
}

.content-block-createx__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1e212c;
}

.content-block-createx__title:not(:last-child) {
   margin-bottom: 40px;
}

.content-block-createx__item {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   display: flex;
   column-gap: 16px;
   align-items: center;
}

.content-block-createx__item:not(:last-child) {
   margin-bottom: 12px;
}

.content-block-createx__item:last-child {
   margin-bottom: 22px;
}

.content-block-createx__item::before {
   content: "";
   flex: 0 0 16px;
   height: 16px;
   background: url(../img/check.svg);
   align-self: start;
   margin-top: 5px;
}

.content-block-createx__button {
   display: inline-block;
}
/* =================================================== */