/* =================================================== */
.form-block {
   margin-bottom: 20px;
}

.form-block__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 25px;
}

.form-block__img {
   max-width: 102.5%;
   flex: 0 1 435px;
   transform: translate(-2.5%, 0);
}

.form-block__content {
   flex: 0 0 705px;
   text-align-last: left;
}

.form-block__subtitle {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1e212c;
   position: relative;
   display: flex;
   gap: 10px;
}

.form-block__subtitle:not(:last-child) {
   margin-bottom: 8px;
}

.form-block__subtitle::before,
.form-block__subtitle::after {
   content: "";
   flex: 0 0 20px;
   width: 20px;
   height: 20px;
   background: #ff3f3a url(../img/quation.svg) center center no-repeat;
   animation: qua-play 2s linear 0s infinite;
   border-radius: 50%;
}

@keyframes qua-play {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.form-block__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   text-align: center;
   color: #1e212c;
}

.form-block__title:not(:last-child) {
   margin-bottom: 40px;
}

.form-block__form {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
}

.form-block__label {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin-bottom: 8px;
}

.form-block__info {
   display: flex;
   flex-direction: column;
   flex: 0 0 340px;
}

.form-block__input {
   background: #ffffff;
   border: 1px solid #d7dadd;
   border-radius: 4px;
   min-height: 52px;
   padding-left: 16px;
}

.form-block__input:focus {
   outline: 1px solid#ff3f3a;
}

.form-block__input::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #9a9ca5;
}

.form-block__info-area {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.form-block__fiedls {
   display: flex;
   flex-direction: column;
}

.form-block__area {
   min-height: 128px;
   background: #ffffff;
   border: 1px solid #d7dadd;
   border-radius: 4px;
   resize: vertical;
   width: 500px;
}

.form-block__area:focus {
   outline: 1px solid#ff3f3a;
}

.file-block {
   position: relative;
   align-self: flex-start;
   flex: 0 0 150px;
}

.file-block__choose {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}

.file-block__label {
   width: 150px;
   height: 50px;
   background-color: #ff3f3a;
   border-radius: 20px;
   padding: 10px 25px;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   letter-spacing: 1px;
   color: white;
}

.form-block__license {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.form-block__check {
   position: relative;
   flex: 0 0 200px;
   text-align: left;
   justify-content: space-between;
}

.form-block__input-check {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}

.form-block__input-check:checked + .check-label::before {
   background: #ff3f3a url(../img/check-label.svg) center center no-repeat;
}

.check-label {
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 10px;
}

.check-label::before {
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   align-self: flex-start;
   margin-top: 5px;
   border: 1px solid #ff3f3a;
   border-radius: 3px;
}

.form-block__radio {
   display: flex;
   flex-wrap: wrap;
   flex: 0 0 250px;
   position: relative;
}
.form-block__input-radio {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}

.radio-label {
   cursor: pointer;
   display: inline-flex;
   gap: 10px;
}

.radio-label::before {
   content: "";
   flex: 0 0 16px;
   width: 16px;
   height: 16px;
   align-self: flex-start;
   margin-top: 5px;
   border: 1px solid #ff3f3a;
   border-radius: 50%;
}

.form-block__input-radio:checked + .radio-label::before {
   background: url(../img/radio-check.svg) center center no-repeat;
}

.form-block__switcher {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.switcher-block__input {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
}

.switcher-block__input:checked + .switcher-block__label {
   background-color: rgb(179, 60, 56);
}

.switcher-block__input:checked + .switcher-block__label::before {
   background-color: #d63630;
   left: 25px;
}

.switcher-block__input:checked ~ .switcher-block__text1 {
   color: #1e212c;
}

.switcher-block__input:checked ~ .switcher-block__text2 {
   color: white;
}

.switcher-block__input:checked ~ .switcher-block__text1::before {
   width: 0;
   height: 0;
   color: white;
}

.switcher-block__input:checked ~ .switcher-block__text2::before {
   width: 100%;
   height: 100%;
   color: white;
}

.switcher-block__label {
   cursor: pointer;
   display: inline-block;
   background-color: #ff403ad4;
   width: 50px;
   height: 20px;
   border-radius: 10px;
   position: relative;
}

.switcher-block__label::before {
   content: "";
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: #ff403a;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(0, -50%);
   cursor: pointer;
   transition: left 0.3s ease 0s;
}

.switcher-block__text1 {
   position: relative;
   color: white;
}

.switcher-block__text1::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   transition: width 1s ease 0s;
}

.switcher-block__text2 {
   position: relative;
   color: #1e212c;
}
.switcher-block__text2::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   transition: width 1s ease 0s;
}

.block-text {
   flex: 0 0 280px;
   border: 1px #ff403a solid;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 1px;
   height: 100%;
}

.block-text span {
   position: relative;
   z-index: 3;
   display: inline-block;
   padding: 5px;
}

.form-block__button {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* =================================================== */
