@import "reset.css";
@import "common.css";
@import "header.css";
@import "hello-block.css";
@import "createx.css";
@import "form.css";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
   font-family: "Lato", Arial, sans-serif;
   font-style: normal;
}

.wrapper {
   min-height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1260px;
   padding: 0px 15px;
   margin: 0 auto;
}

